/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
/*.body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }*/


/* Navigation bar */
.navbar {
    max-height: 60px;
    background-color :#efeee7;
    font-size: 25px;

}
.navigation .navbar-brand {
    color: white;
    margin-left: 0px;
    padding: inherit;
    font-weight: bold;
    background-color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.active, .dropdown-menu .dropdown-item:active a:hover {
    background-color: white;
  }
.dropdown-item {
color: #213159;
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
background-color: #f04b4c;
}
  
.nav-link:hover {
background-color:#E7E7E7;
}
  
.navbar-brand:hover {
color: #f04b4c;
}

/* Bootstrap example */
.box {
min-height: 50px;
height: 400px;
padding: 20px;
color: #fff;
background: deepskyblue;
}

.margin-top-80 {
margin-top: 80px;
}